<view ng-controller="timerCtrl">
    <!-- Displays the Timer within the form -->
    <form>
    <label class="btn-group">Select Hrs:
        <select  ng-model="hours" name="hours">
       <option ng-repeat="hr in hr" value="{{hr.id}}">{{hr.id}} </option>
    </select>
        select Mins:
        <select ng-model="minutes" name="minutes" >
        <option ng-repeat="min in min" value="{{min.id}}">{{min.id}}</option>
        </select>
        Select Secs:
        <select ng-model="seconds" name="seconds" >
        <option id="secs" ng-repeat="sec in min" value="{{sec.id}}">{{sec.id}}</option>
        </select>
    </label>
        <br />
        <br />
        <div class="btn btn-default" ng-click=""><a href="#/timer/{{hours}}/{{minutes}}/{{seconds}}">Start Timer</a></div>&nbsp;&nbsp;
        <div class="btn btn-default" ng-click="stopTimer()"><a href="#/timer/{{hours}}/{{minutes}}/{{seconds}}">Stop Timer</a></div>
       
    </form>
    
    <!-- Displays the running timer when the timer is started=-->
    
    <div class="btn btn-default bth-lg col-lg-1 col-offset-6 centered">

    <label ng-bind="hours"> {{ hours}}</label> : <label ng-bind="minutes">{{minutes}} </label> : <label ng-bind="seconds">{{seconds}}</label>

    </div>
</view>