<view ng-controller="worldClockCtrl">    

    <!-- Displays the list of cities within the dropdown button to select -->
    
     <div class="btn-group" uib-dropdown is-open="status.isopen">
      <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
        Select City to add <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" >
            <li ng-repeat="countries in countries"><a href="#/worldClock/:{{countries.id}}/{{countries.name}}/{{countries.UTC}}">{{countries.name}}</a></li>
          </ul>
    </div><br />
    <br /><br />
    
    <!-- Display the time of the city or country based on the user selection -->
    
    <div class="well well-lg">
    <div class="list-heading">{{name}}
        <div class="list-body" ng-if="name=='Australia,Broken_Hill'">
            {{dt | date : 'mediumTime' : '+0930' }}
        
        </div>
                <div class="list-body" ng-if="name=='Europe,Madrid'">
            {{dt | date : 'mediumTime' : '+0200'}}
        
        </div>
                <div class="list-body" ng-if="name=='Asia,Anadyr'" >
            {{dt | date : 'mediumTime' : '+1200' }}
        
        </div>
                <div class="list-body" ng-if="name=='Indian,Reunion'">
            {{dt | date : 'mediumTime' : '+0400'}}
        
        </div>
                <div class="list-body" ng-if="name=='Africa,Maputo'">
            {{dt | date : 'mediumTime' : '+0200' }}
        
        </div>
        </div>
    </div>
    
    <br><br>
</view>
  

<!--for netherland=id(16)	Amsterdam		Netherlands
                id(1315)	Philipsburg		Sint Maarten
                  id(146)	Maputo		Mozambique
                  id(187)	Oslo		Norway
                  id(750)	Lord Howe Island	Australia
-->
    
    